@page
@model FlowerBouquetManagement.Pages.Flower.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>New Flower</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlowerBouquet.CategoryId" class="control-label"></label>
                <select asp-for="FlowerBouquet.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId" required></select>
            </div>
            <div class="form-group">
                <label asp-for="FlowerBouquet.FlowerBouquetName" class="control-label"></label>
                <input asp-for="FlowerBouquet.FlowerBouquetName" class="form-control" required />
                <span asp-validation-for="FlowerBouquet.FlowerBouquetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowerBouquet.Description" class="control-label"></label>
                <input asp-for="FlowerBouquet.Description" class="form-control" maxlength="50" required />
                <span asp-validation-for="FlowerBouquet.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowerBouquet.Price" class="control-label"></label>
                <input asp-for="FlowerBouquet.Price" class="form-control" min="0" required />
                <span asp-validation-for="FlowerBouquet.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowerBouquet.UnitsInStock" class="control-label"></label>
                <input asp-for="FlowerBouquet.UnitsInStock" class="form-control" min="0" required />
                <span asp-validation-for="FlowerBouquet.UnitsInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowerBouquet.Status" class="control-label"></label>
                <select asp-for="FlowerBouquet.Status" class="form-control" required>
                    <option value="True">Active</option>
                    <option value="False">Inactive</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FlowerBouquet.SupplierId" class="control-label"></label>
                <select asp-for="FlowerBouquet.SupplierId" class="form-control" asp-items="ViewBag.SupplierId" required></select>
            </div>
            <div class="form-group mt-2">
                <a asp-page="Index" class="btn btn-outline-dark">Back to List</a> |
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
